$gradient-start-red: rgb(124, 41, 41);
$gradient-end-red: rgb(45, 19, 15);
$header-red: rgb(59, 21, 21);
$header-text-grey: rgb(156, 144, 144);
$header-dark-grey: #617a7a;
$link-yellow: rgb(255, 205, 22);
$background-dark-grey: rgba(44, 34, 34, .2);
$background-darker-grey: rgb(25, 22, 22);
$input-grey: rgb(66, 52, 52);
$button-orange: rgb(255, 157, 0);


