body {
    background-image: linear-gradient(to bottom, $gradient-start-red, $gradient-mid-red, $gradient-end-red);
    font-family: 'Duru Sans', sans-serif;
}
.main-body-section {
    display: flex;
    flex-direction: column;
    .homepage {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .main-content {
            display: flex;
            flex-direction: column;
            margin-right: 50px;
        }
    }
}
