.header-drop-down {
    position: relative;
    .logout-button {
        font-family: 'Open Sans';
        font-size: 11px;
    }
    .active {
        box-shadow: 2px 2px 2px $gradient-end-red;
        display: block;
        width: 150px;
        z-index: 10;
        position: absolute;
        top: 30px;
        right: 0px;
        text-align: left;
        ul {
            li:first-child {
                padding-top: 10px;
            }
            li {
                padding: 5px 10px;
                &:hover {
                    color: whitesmoke;
                }
            }
            li:last-child {
                padding-bottom: 10px;
            }
            .yellow-text {
                color: $link-yellow;
            }
        }
    }
    .username-dropdown {
        margin: 5px 0;
        cursor: pointer;
        &:hover {
            color: whitesmoke;
        }
        .fa-caret-down {
            padding-top: 2px;
            margin: 3px;
            font-size: 14px;
        }
    }
    .hidden {
        display: none;
    }

    .store-button {
        position: relative;
        cursor: pointer;
        &:hover {
            color: whitesmoke;
        }
    }
    .store-button + div {
        position: absolute;
        left: 23px;
        font-size: 12px;
    }
    .community-button {
        position: relative;
        cursor: pointer;
        &:hover {
            color: whitesmoke;
        }
    }
    .community-button + div {
        position: absolute;
        left: 18px;
        font-size: 12px;
    }
    .main-username-button {
        position: relative;
        cursor: pointer;
        &:hover {
            color: whitesmoke;
        }
    }
    .main-username-button + div {
        position: absolute;
        left: 20px;

        font-size: 12px;
        width: 100px;
    }
}
.library-dropdown {
    position: relative;
    width: 90px;
    .active {
        display: block;
        font-size: 10px;
        background-color: $index-detail-red;
        padding: 5px 10px;
        position: absolute;
        width: 120px;
        top: 27px;
        filter: brightness(100%);
        box-shadow: 0 0 5px black;
        &:hover {
            background-color: $gradient-mid-red;
            color: whitesmoke;
        }
    }
    .hidden {
        display: none;
    }
}
