.fake-nav-bar {
    // border: 1px solid lime;
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
    .cart-button {
        padding: 5px 25px;
        background-color: $button-orange;
        color: rgb(255, 231, 143);
        border-radius: 2px;
        filter: brightness(90%);
        font-size: 11px;
        text-transform: uppercase;
        &:hover {
            filter: brightness(120%);
            color: black;
            cursor: pointer;
        }
    }
}
