.game-show-page {
    display: flex;
    flex-direction: column;
    .game-detail-container {
        width: 950px;
        height: 500px;

        align-self: center;
        margin: 50px 15px 0 15px;
        background-image: linear-gradient(to bottom, $gradient-mid-red, $gradient-end-red);
        .game-detail-header {
            display: flex;
            justify-content: space-between;
            .gd-header-left {
                p {
                    font-size: 11px;
                    color: $header-text-grey;
                }
                h2 {
                    color: white;
                    margin-bottom: 10px;
                    margin-top: 5px;
                }
            }
            .gd-header-right {
                display: flex;
                flex-direction: column-reverse;
                .community-hub {
                    background-color: rgba(214, 98, 98, 0.5);
                    padding: 8px 16px;
                    font-size: 13px;
                    margin-bottom: 14px;
                    margin-right: 2px;
                    color: $link-yellow;
                    border-radius: 2px;
                }
            }
        }
        .game-detail-main {
            display: flex;
            .game-detail-left {
                .big-picture {
                    width: 600px;
                    height: 340px;
                }
                .screenshots {
                    display: flex;
                    margin-top: 5px;
                    // overflow-x: scroll;
                    // &::-webkit-scrollbar {
                    //     width: 1em;
                    // }

                    // &::-webkit-scrollbar-track {
                    //     box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                    // }

                    // &::-webkit-scrollbar-thumb {
                    //     background-color: $gradient-end-red;
                    //     outline: 1px solid slategrey;
                    // }
                    // &::-webkit-scrollbar-button {
                    //     display: block;
                    //     color: blue;
                    //     background-color: green;
                    // }
                    .screenshot {
                        width: 125px;
                        height: auto;
                        margin-right: 4px;
                        position: relative;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                    .active {
                        border: 2px solid $lighter-grey;
                        &::before {
                            content: '';
                            position: absolute;
                            top: -27px;
                            left: 50px;
                            width: 0;
                            height: 0;
                            border: 13px solid transparent;
                            border-bottom-color: $lighter-grey;
                        }
                    }
                }
            }
            .game-detail-right {
                // border: 1px solid hotpink;
                margin-left: 15px;
                .title-card {
                    width: 328px;
                    height: 148px;
                }
                .description {
                    font-size: 12px;
                    color: whitesmoke;
                    margin-top: 15px;
                    margin-right: 15px;
                    p {
                        line-height: 150%;
                    }
                }
                .bottom-half {
                    margin-top: 15px;
                    display: grid;
                    grid-template-columns: 35% 65%;
                    grid-template-rows: 35% 25%;
                    font-size: 10px;
                    height: 115px;
                    color: $header-text-grey;
                    .reviews-left {
                        text-transform: uppercase;
                        line-height: 16px;
                    }
                    .reviews-right {
                        font-size: 11px;
                        span {
                            color: $link-yellow;
                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                    .releaseDate {
                        text-transform: uppercase;
                        line-height: 16px;
                    }
                    .date {
                        font-size: 11px;
                        color: $lighter-grey;
                    }
                    .devpub-left {
                        text-transform: uppercase;
                        line-height: 16px;
                    }
                    .devpub-right {
                        font-size: 11px;
                        color: $link-yellow;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
                .popular-tags {
                    font-size: 11px;
                    color: $header-text-grey;
                    .tags {
                        display: flex;
                        font-size: 10px;
                        .tag {
                            padding: 2px 5px;
                            margin: 3px 2px;
                            background-color: $review-box-red;
                            color: $link-yellow;
                            border-radius: 2px;
                        }
                    }
                }
            }
        }
    }

    .buy-now-bar {
        align-self: center;
    }
}
