.game-detail-container {
    width: 1000px;
    height: 700px;
    border: 1px solid blue;
    align-self: center;
    margin-top: 50px;

    .game-detail-header {
        display: flex;
        justify-content: space-between;
        .gd-header-left {
        }
        .gd-header-right {
        }
    }
    .game-detail-main {
        display: flex;
        .game-detail-left {
            .big-picture {
                width: 600px;
                height: 340px;
            }
            .screenshots {
                display: flex;
                .screenshot {
                    width: 125px;
                    height: auto;
                }
            }
        }
        .game-detail-right {
            .title-card {
                width: 300px;
                height: auto;
            }
        }
    }
}
