.index-container {
    // background-image: linear-gradient(to bottom, $gradient-mid-red, $gradient-end-red);

    display: flex;
    margin-top: 10px;
    // margin-left: 30px;

    .index-left-side {
        width: 616px;
        height: fit-content;
        margin: 15px 15px 15px 21px;

        .active {
            background-color: $index-detail-red;
            #index-title {
                color: black;
            }
            #price {
                color: black;
            }
        }
        .inactive {
            background-color: $gradient-start-red;
        }
        .index-header-row {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            background-color: $gradient-start-red;
            p {
                font-size: 12px;
                color: $header-text-grey;
            }
            div {
                font-size: 12px;
                border: 1px solid $header-text-grey;
                padding: 5px 10px;
                margin: 5px;
                border-radius: 2px;
                color: whitesmoke;
                &:hover {
                    border-color: whitesmoke;
                }
            }
        }

        .games-index-item {
            display: flex;
            justify-content: space-between;

            margin-bottom: 5px;
            height: 70px;
            position: relative;
            .games-index-item-left {
                display: flex;
                height: 70px;
                .titleCard-box {
                    width: 185px;
                    height: 70px;
                    img {
                        height: 70px;
                        width: 185px;
                    }
                }
                .games-index-item-words {
                    margin-left: 15px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    color: $header-dark-grey;
                    h4 {
                        margin: 0;
                        color: $lighter-grey;
                    }
                    p {
                        font-size: 12px;
                        font-weight: 300;
                    }
                }
            }
            .games-index-item-price {
                display: flex;
                margin: 0;
                color: $lighter-grey;
                align-items: center;
                p {
                    padding: 0 15px;
                    font-size: 12px;
                }
            }

            .index-bridge-active {
                position: absolute;
                border: 1px solid transparent;
                height: 68px;
                width: 20px;
                right: -21px;
                z-index: 2;
            }
            .index-bridge-hidden {
                display: none;
            }
        }
    }
    .index-right-side {
        background-color: $index-detail-red;
        margin-top: 15px;
        padding-left: 15px;
        width: 287px;
        height: fit-content;
        .game-detail-tab {
            width: 275px;
            padding-top: 15px;
            .top-part {
                h3 {
                    margin: 0;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
                .review-box {
                    background-color: $review-box-red;
                    font-size: 11px;
                    border-radius: 2px;
                    margin: 10px 0;
                    padding: 5px;
                    p {
                        background-color: transparent;
                        color: whitesmoke;
                        span {
                            background-color: transparent;
                            color: $link-yellow;
                        }
                    }
                }
                .categories {
                    background-color: $review-box-red;
                    font-size: 11px;
                    color: whitesmoke;
                    margin: 3px 3px 5px 0;
                    width: fit-content;
                    padding: 3px;
                    border-radius: 2px;
                    &:hover {
                        cursor: pointer;
                        color: $link-yellow;
                    }
                }
            }
        }
        .image-list {
            width: fit-content;
            .game-index-screenshots {
                width: 275px;
                height: 150px;
                margin-bottom: 7px;
            }
            &:last-child {
                margin-bottom: 12px;
            }
        }
        .hidden {
            display: none;
        }
    }
}
